#buttons {
    text-align: center;
}

#buttons .button {
	border: none;
	font-family: helvetica;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
    text-align: center;
	background: #cb4e4e;
	color: #fff;
    box-shadow: 0 6px #ab3c3c;
	-webkit-transition: none;
	-moz-transition: none;
    transition: none;
    margin: 20px;
	border-radius: 0 0 5px 5px;
}

#buttons .button:hover {
	box-shadow: 0 4px #ab3c3c;
	top: 2px;
}

#buttons .button:active {
	box-shadow: 0 0 #ab3c3c;
	top: 6px;
}